section {
    width: 500px;
    height: 500px;
    background-color: magenta;
}

#rgba {
    /* background-color: rgba(255,255,255,0.7); */
    background-color: #bf222248; /* last 2 digits show opacity */
    width: 50%;
    height: 50%;
}

#opacity {
    background-color: yellow;
    opacity: 0.3; /* affects the entire element*/
    width: 50%;
    height: 50%;
}