<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Cafe</title>
</head>
<body>
    <h1>Edit Cafe</h1>
    <form action="/cafes/<%=cafe._id%>?_method=PUT" method="POST">
        <div>
            <label for="title">Title</label>
            <input type="text" id="title" name="cafe[title]" value="<%=cafe.title%>">
        </div>
        <div>
            <label for="location">Location</label>
            <input type="text" id="location" name="cafe[location]" value="<%=cafe.location%>">
        </div>
        <button>Update Cafe</button>
    </form>
    <a href="/cafes/<%=cafe._id%>">Back to Cafe</a>
</body>
</html>