<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cafes</title>
</head>
<body>
    <h1>All Cafes</h1>
    <ul>
        <% for (let cafe of cafes) {%>
            <li><%= cafe.title %></li>
        <% }%>
    </ul>
</body>
</html>