<%layout('layouts/boilerplate')%>
<div class="row">
    <h1 class="text-center">New cafe</h1>
    <div class="col-md-6 offset-md-3">
        <form action="/cafes" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="cafe[title]" required>
                <div class="valid-feedback">
                    good find! 
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" id="location" name="cafe[location]" required>
                <div class="valid-feedback">
                    good find!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="price">Americano Price</label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">$</span>
                    <input type="text" class="form-control" id="price" name="cafe[price]" placeholder="0.00" aria-label="price" aria-describedby="price-label" required>
                    <div class="valid-feedback">
                        kachinggg$
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" id="description" name="cafe[description]" required></textarea>
                <div class="valid-feedback">
                    very informative!
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-6">
                    <label class="form-label" for="wifi">Wifi</label>
                    <select class="form-select" id="wifi" name="cafe[wifi]" required>
                        <option value="" disabled selected>please select</option>
                        <% for (let sig of wifiSign) { %>
                            <option value="<%=sig%>"><%=sig%></option>
                        <% } %>
                    </select>
                    <div class="valid-feedback">
                        connection!!
                    </div>
                </div>
                <div class="col-6">
                    <label class="form-label" for="space">Space</label>
                    <input class="form-control" type="text" id="space" name="cafe[space]" placeholder="spacious / impossible to find space" required>
                    <div class="valid-feedback">
                        spacious!!
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="image">Upload Image(s)</label>
                <input class="form-control" type="file" id="image" name="image" multiple required>
                <div class="valid-feedback">
                    great visuals!
                </div>
            </div>
            <div class="mb-3">
                <button class="btn btn-success">Add Cafe</button>
            </div>
        </form>
        <a href="/cafes">All Cafes</a>
    </div>
</div>